.container{
    width: 50%;
    margin:5% auto;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    box-shadow: 0px -1px 14px 0px gray;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
    /* width: 15%; */
    box-shadow: 0px -1px 14px 0px gray;

  }