.container{
  width: 50%;
  margin:5% auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btnAlign{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.showDays{
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.showDays div:first-child{
  margin-right: 10px;
}

.highlightNum{
  background-color: green;
}

.highlightNumBw{
  background-color: rgb(170, 235, 170);
}